[Desktop Entry]
Name=Meshcore Console
Comment=Manage meshcore device
Exec=meshcore-console
Icon=meshcore-console
Terminal=false
Type=Application
Categories=Utility;Network;
