@define-color mc_bg #0f1419;
@define-color mc_surface #171d24;
@define-color mc_surface_alt #1d2530;
@define-color mc_border #2e3a49;
@define-color mc_text #e7eef8;
@define-color mc_text_muted #aab9cd;
@define-color mc_accent #35c29b;
@define-color mc_warn #efb93f;
@define-color mc_danger #ff5f6d;
